In [1]:
%load_ext zipline

In [2]:
%%zipline --start 2018-4-10 --end 2018-4-25 -M none
from zipline.api import symbol, order, record

def initialize(context):
    pass

def handle_data(context, data):
    order(symbol('000333'), 10)
    his = data[symbol('000333')]
    record(收盘价=his.price,
           成交量=his.volume,
           总市值=his.tmv)

[2018-04-26 22:21:49.553247] INFO: Loader: 在缓存路径'/home/ldf/.zipline/data/000300_benchmark.csv'不存在从1990-12-19 00:00:00+00:00至2018-04-25 00:00:00+00:00的数据

[2018-04-26 22:21:49.554478] INFO: Loader: 获取本地基准收益率数据。指数代码：'000300' 期间：1989-12-29 00:00:00+00:00至2018-04-25 00:00:00+00:00
[2018-04-26 22:21:49.631697] WARNING: Loader: Still don't have expected benchmark data for '000300' from 1989-12-29 00:00:00+00:00 to 2018-04-25 00:00:00+00:00 after redownload!
[2018-04-26 22:21:49.646189] INFO: Loader: 在缓存路径'/home/ldf/.zipline/data/treasury_curves_cn.csv'不存在从2006-03-01 00:00:00+00:00至2018-04-25 00:00:00+00:00的数据

[2018-04-26 22:21:49.648046] INFO: Loader: 获取本地国库券资金成本数据，指数代码：'000300' 期间：2006-03-01 00:00:00+00:00至2018-04-25 00:00:00+00:00
[2018-04-26 22:21:50.540482] INFO: zipline.finance.metrics.tracker: Simulated 12 trading days
first open: 2018-04-10 01:31:00+00:00
last close: 2018-04-25 07:00:00+00:00

,period_close,period_open,总市值,成交量,收盘价
2018-04-10 07:00:00+00:00,2018-04-10 07:00:00+00:00,2018-04-10 01:31:00+00:00,3.474389e+11,35420000.0,52.77
2018-04-11 07:00:00+00:00,2018-04-11 07:00:00+00:00,2018-04-11 01:31:00+00:00,3.488215e+11,46760000.0,52.98
2018-04-12 07:00:00+00:00,2018-04-12 07:00:00+00:00,2018-04-12 01:31:00+00:00,3.415132e+11,25200000.0,51.87
2018-04-13 07:00:00+00:00,2018-04-13 07:00:00+00:00,2018-04-13 01:31:00+00:00,3.378920e+11,24020000.0,51.32
2018-04-16 07:00:00+00:00,2018-04-16 07:00:00+00:00,2018-04-16 01:31:00+00:00,3.278185e+11,44470000.0,49.79
2018-04-17 07:00:00+00:00,2018-04-17 07:00:00+00:00,2018-04-17 01:31:00+00:00,3.284769e+11,31340000.0,49.89
2018-04-18 07:00:00+00:00,2018-04-18 07:00:00+00:00,2018-04-18 01:31:00+00:00,3.208394e+11,41600000.0,48.73
2018-04-19 07:00:00+00:00,2018-04-19 07:00:00+00:00,2018-04-19 01:31:00+00:00,3.395380e+11,43360000.0,51.57
2018-04-20 07:00:00+00:00,2018-04-20 07:00:00+00:00,2018-04-20 01:31:00+00:00,3.384188e+11,43040000.0,51.40
2018-04-23 07:00:00+00:00,2018-04-23 07:00:00+00:00,2018-04-23 01:31:00+00:00,3.426984e+11,28900000.0,52.05
2018-04-24 07:00:00+00:00,2018-04-24 07:00:00+00:00,2018-04-24 01:31:00+00:00,3.525744e+11,37380000.0,53.55
2018-04-25 07:00:00+00:00,2018-04-25 07:00:00+00:00,2018-04-25 01:31:00+00:00,3.464513e+11,36380000.0,52.62

In [3]:
_.head()

,period_close,period_open,总市值,成交量,收盘价
2018-04-10 07:00:00+00:00,2018-04-10 07:00:00+00:00,2018-04-10 01:31:00+00:00,3.474389e+11,35420000.0,52.77
2018-04-11 07:00:00+00:00,2018-04-11 07:00:00+00:00,2018-04-11 01:31:00+00:00,3.488215e+11,46760000.0,52.98
2018-04-12 07:00:00+00:00,2018-04-12 07:00:00+00:00,2018-04-12 01:31:00+00:00,3.415132e+11,25200000.0,51.87
2018-04-13 07:00:00+00:00,2018-04-13 07:00:00+00:00,2018-04-13 01:31:00+00:00,3.378920e+11,24020000.0,51.32
2018-04-16 07:00:00+00:00,2018-04-16 07:00:00+00:00,2018-04-16 01:31:00+00:00,3.278185e+11,44470000.0,49.79