In [1]:
%load_ext zipline

In [4]:
%%zipline --start 2016-1-1 --end 2018-1-1 -M none
from zipline.api import symbol, order, record

def initialize(context):
    pass

def handle_data(context, data):
    order(symbol('000333'), 10)
    his = data[symbol('000333')]
    record(收盘价=his.price,
           成交量=his.volume,
           总市值=his.tmv)

[2018-04-26 11:12:54.904508] WARNING: Loader: Refusing to download new benchmark data because a download succeeded at 2018-04-26 02:29:27.696448+00:00.
[2018-04-26 11:12:54.918934] WARNING: Loader: Refusing to download new treasury data because a download succeeded at 2018-04-26 02:29:27.828569+00:00.
[2018-04-26 11:12:55.709724] INFO: Performance: after split: asset: 美的集团(000333), amount: 1215, cost_basis: 19533.63, last_sale_price: 32990.0
[2018-04-26 11:12:55.710393] INFO: Performance: returning cash: 0.0
[2018-04-26 11:12:56.236876] INFO: zipline.finance.metrics.tracker: Simulated 488 trading days
first open: 2016-01-04 01:31:00+00:00
last close: 2017-12-29 07:00:00+00:00

,period_close,period_open,总市值,成交量,收盘价
2016-01-04 05:35:00+00:00,2016-01-04 05:35:00+00:00,2016-01-04 01:31:00+00:00,NaN,2003,29720
2016-01-05 07:00:00+00:00,2016-01-05 07:00:00+00:00,2016-01-05 01:31:00+00:00,NaN,3121,31330
2016-01-06 07:00:00+00:00,2016-01-06 07:00:00+00:00,2016-01-06 01:31:00+00:00,NaN,2019,31590
2016-01-07 02:00:00+00:00,2016-01-07 02:00:00+00:00,2016-01-07 01:31:00+00:00,NaN,637,29040
2016-01-08 07:00:00+00:00,2016-01-08 07:00:00+00:00,2016-01-08 01:31:00+00:00,NaN,3745,29810
2016-01-11 07:00:00+00:00,2016-01-11 07:00:00+00:00,2016-01-11 01:31:00+00:00,NaN,2823,28400
2016-01-12 07:00:00+00:00,2016-01-12 07:00:00+00:00,2016-01-12 01:31:00+00:00,NaN,2142,28810
2016-01-13 07:00:00+00:00,2016-01-13 07:00:00+00:00,2016-01-13 01:31:00+00:00,NaN,1900,28990
2016-01-14 07:00:00+00:00,2016-01-14 07:00:00+00:00,2016-01-14 01:31:00+00:00,NaN,2656,29600
2016-01-15 07:00:00+00:00,2016-01-15 07:00:00+00:00,2016-01-15 01:31:00+00:00,NaN,2406,28390
2016-01-18 07:00:00+00:00,2016-01-18 07:00:00+00:00,2016-01-18 01:31:00+00:00,NaN,2149,27800
2016-01-19 07:00:00+00:00,2016-01-19 07:00:00+00:00,2016-01-19 01:31:00+00:00,NaN,2180,28820
2016-01-20 07:00:00+00:00,2016-01-20 07:00:00+00:00,2016-01-20 01:31:00+00:00,NaN,2301,28030
2016-01-21 07:00:00+00:00,2016-01-21 07:00:00+00:00,2016-01-21 01:31:00+00:00,NaN,2119,27030
2016-01-22 07:00:00+00:00,2016-01-22 07:00:00+00:00,2016-01-22 01:31:00+00:00,NaN,1693,27080
2016-01-25 07:00:00+00:00,2016-01-25 07:00:00+00:00,2016-01-25 01:31:00+00:00,NaN,935,27200
2016-01-26 07:00:00+00:00,2016-01-26 07:00:00+00:00,2016-01-26 01:31:00+00:00,NaN,1972,25850
2016-01-27 07:00:00+00:00,2016-01-27 07:00:00+00:00,2016-01-27 01:31:00+00:00,NaN,1842,26230
2016-01-28 07:00:00+00:00,2016-01-28 07:00:00+00:00,2016-01-28 01:31:00+00:00,NaN,1326,26510
2016-01-29 07:00:00+00:00,2016-01-29 07:00:00+00:00,2016-01-29 01:31:00+00:00,NaN,1219,27310
2016-02-01 07:00:00+00:00,2016-02-01 07:00:00+00:00,2016-02-01 01:31:00+00:00,NaN,842,27350
2016-02-02 07:00:00+00:00,2016-02-02 07:00:00+00:00,2016-02-02 01:31:00+00:00,NaN,1056,27610
2016-02-03 07:00:00+00:00,2016-02-03 07:00:00+00:00,2016-02-03 01:31:00+00:00,NaN,1304,27170
2016-02-04 07:00:00+00:00,2016-02-04 07:00:00+00:00,2016-02-04 01:31:00+00:00,NaN,920,27290
2016-02-05 07:00:00+00:00,2016-02-05 07:00:00+00:00,2016-02-05 01:31:00+00:00,NaN,1002,27420
2016-02-15 07:00:00+00:00,2016-02-15 07:00:00+00:00,2016-02-15 01:31:00+00:00,NaN,1174,26960
2016-02-16 07:00:00+00:00,2016-02-16 07:00:00+00:00,2016-02-16 01:31:00+00:00,NaN,1339,27740
2016-02-17 07:00:00+00:00,2016-02-17 07:00:00+00:00,2016-02-17 01:31:00+00:00,NaN,1164,27950
2016-02-18 07:00:00+00:00,2016-02-18 07:00:00+00:00,2016-02-18 01:31:00+00:00,NaN,695,27860
2016-02-19 07:00:00+00:00,2016-02-19 07:00:00+00:00,2016-02-19 01:31:00+00:00,NaN,661,27600
...,...,...,...,...,...
2017-11-20 07:00:00+00:00,2017-11-20 07:00:00+00:00,2017-11-20 01:31:00+00:00,NaN,4151,54620
2017-11-21 07:00:00+00:00,2017-11-21 07:00:00+00:00,2017-11-21 01:31:00+00:00,NaN,6514,57660
2017-11-22 07:00:00+00:00,2017-11-22 07:00:00+00:00,2017-11-22 01:31:00+00:00,NaN,5110,56430
2017-11-23 07:00:00+00:00,2017-11-23 07:00:00+00:00,2017-11-23 01:31:00+00:00,NaN,4604,53440
2017-11-24 07:00:00+00:00,2017-11-24 07:00:00+00:00,2017-11-24 01:31:00+00:00,NaN,5654,54100
2017-11-27 07:00:00+00:00,2017-11-27 07:00:00+00:00,2017-11-27 01:31:00+00:00,NaN,4338,52640
2017-11-28 07:00:00+00:00,2017-11-28 07:00:00+00:00,2017-11-28 01:31:00+00:00,NaN,2988,52590
2017-11-29 07:00:00+00:00,2017-11-29 07:00:00+00:00,2017-11-29 01:31:00+00:00,NaN,4473,51100
2017-11-30 07:00:00+00:00,2017-11-30 07:00:00+00:00,2017-11-30 01:31:00+00:00,NaN,2973,51180
2017-12-01 07:00:00+00:00,2017-12-01 07:00:00+00:00,2017-12-01 01:31:00+00:00,NaN,2429,50580
2017-12-04 07:00:00+00:00,2017-12-04 07:00:00+00:00,2017-12-04 01:31:00+00:00,NaN,3006,51500
2017-12-05 07:00:00+00:00,2017-12-05 07:00:00+00:00,2017-12-05 01:31:00+00:00,NaN,3924,52180
2017-12-06 07:00:00+00:00,2017-12-06 07:00:00+00:00,2017-12-06 01:31:00+00:00,NaN,3318,50950
2017-12-07 07:00:00+00:00,2017-12-07 07:00:00+00:00,2017-12-07 01:31:00+00:00,NaN,3804,49130
2017-12-08 07:00:00+00:00,2017-12-08 07:00:00+00:00,2017-12-08 01:31:00+00:00,NaN,4588,50430
2017-12-11 07:00:00+00:00,2017-12-11 07:00:00+00:00,2017-12-11 01:31:00+00:00,NaN,4807,53620
2017-12-12 07:00:00+00:00,2017-12-12 07:00:00+00:00,2017-12-12 01:31:00+00:00,NaN,3214,53300
2017-12-13 07:00:00+00:00,2017-12-13 07:00:00+00:00,2017-12-13 01:31:00+00:00,NaN,3257,54900
2017-12-14 07:00:00+00:00,2017-12-14 07:00:00+00:00,2017-12-14 01:31:00+00:00,NaN,3051,54500
2017-12-15 07:00:00+00:00,2017-12-15 07:00:00+00:00,2017-12-15 01:31:00+00:00,NaN,2580,53700
2017-12-18 07:00:00+00:00,2017-12-18 07:00:00+00:00,2017-12-18 01:31:00+00:00,NaN,3626,55320
2017-12-19 07:00:00+00:00,2017-12-19 07:00:00+00:00,2017-12-19 01:31:00+00:00,NaN,3272,55440
2017-12-20 07:00:00+00:00,2017-12-20 07:00:00+00:00,2017-12-20 01:31:00+00:00,NaN,3308,55070
2017-12-21 07:00:00+00:00,2017-12-21 07:00:00+00:00,2017-12-21 01:31:00+00:00,NaN,2889,55940
2017-12-22 07:00:00+00:00,2017-12-22 07:00:00+00:00,2017-12-22 01:31:00+00:00,NaN,2137,56580
2017-12-25 07:00:00+00:00,2017-12-25 07:00:00+00:00,2017-12-25 01:31:00+00:00,NaN,3640,57870
2017-12-26 07:00:00+00:00,2017-12-26 07:00:00+00:00,2017-12-26 01:31:00+00:00,NaN,3491,56300
2017-12-27 07:00:00+00:00,2017-12-27 07:00:00+00:00,2017-12-27 01:31:00+00:00,NaN,3470,54390
2017-12-28 07:00:00+00:00,2017-12-28 07:00:00+00:00,2017-12-28 01:31:00+00:00,NaN,3309,55550
2017-12-29 07:00:00+00:00,2017-12-29 07:00:00+00:00,2017-12-29 01:31:00+00:00,NaN,3063,55430

In [3]:
_.head()

,period_close,period_open,前收盘,成交量,收盘价
2016-01-04 05:35:00+00:00,2016-01-04 05:35:00+00:00,2016-01-04 01:31:00+00:00,NaN,2003,29720
2016-01-05 07:00:00+00:00,2016-01-05 07:00:00+00:00,2016-01-05 01:31:00+00:00,NaN,3121,31330
2016-01-06 07:00:00+00:00,2016-01-06 07:00:00+00:00,2016-01-06 01:31:00+00:00,NaN,2019,31590
2016-01-07 02:00:00+00:00,2016-01-07 02:00:00+00:00,2016-01-07 01:31:00+00:00,NaN,637,29040
2016-01-08 07:00:00+00:00,2016-01-08 07:00:00+00:00,2016-01-08 01:31:00+00:00,NaN,3745,29810